@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Thin_Italic';
    src: url(../fonts/Raleway-Thin-Italic.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.section {
    padding: 105px 143px;
}

.section_header {
    text-align: center;
}

.section_header h2 {
    position: relative;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Raleway-Regular';
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #212121;
}

.section_header h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 64px;
    background-color: #ff8d2d;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -24px;
}

.section_header p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    margin-bottom: 75px;
}

.blocks {
    display: flex;
    justify-content: space-around;
}

.one_block {
    text-align: center;
    width: 30%;
}

.one_block img {
    margin-bottom: 24px;
}

.one_block .title {
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    margin-bottom: 22px;
}

.one_block p {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
}

.section_2 {
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.section_2:before {
    content: '';
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

.section_2 .section_header h2 {
    color: white;
    font-weight: lighter;
}

.section_2 .section_header h2:after {
    background-color: white;
}

.section_2 .section_header p {
    font-family: 'Raleway-Light', sans-serif;
    color: white;
    font-size: 16px;
    margin-bottom: 24px;
}

.wrapper {
    padding: 75px 0;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;
}

.button .border_of_button {
    width: 131px;
    padding: 13px 30px;
    text-align: center;
    border: 2px solid white;
}

.button div a {
    color: white;
    text-decoration: none;
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

footer {
    padding: 40px 0 14px 0;
    background-color: black;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    margin-right: 4px;
    margin-bottom: 8px;
}

.footer_blocks a img {
    margin-right: -4px;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    text-align: center;
    font-size: 12px;
}