.main_container {
  max-width: 1900px;
  margin: 0 auto;
}
p {
  margin: 0;
}
.btn {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #e84545;
  padding: 18px 45px;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .btn {
    font-size: 10px;
    line-height: normal;
    padding: 12px 36px;
  }
}
.btn:hover {
  background-color: #ffffff;
  color: #e84545;
  transition: 1s;
}
/*header_section style*/
.header_image {
  background-image: url(../img/header/bg_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block .custom_main_block_column {
  margin: 0 auto;
  text-align: center;
}
.logo {
  align-items: center;
}
@media (max-width: 767px) {
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .links {
    justify-content: space-between;
  }
}
.links a {
  margin-right: 60px;
  font-size: 13px;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .links a {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .links a {
    margin-right: 10px;
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .links a {
    margin-right: 10px;
    font-size: 9px;
  }
}
.links a:hover {
  text-decoration: none;
  color: #e84545;
  opacity: 1;
  transition: 1s;
}
.links .whithout_margin {
  margin-right: 0;
}
.header_row {
  padding: 38px 0;
  border-bottom: 2px solid #505268;
}
@media (max-width: 768px) {
  .header_row {
    padding: 12px 0;
  }
}
.header_title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 65px;
  line-height: 71px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .header_title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 992px) {
  .header_title {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .header_title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .header_title {
    font-size: 28px;
    line-height: normal;
  }
}
.header_text {
  font-family: 'Raleway';
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 77px;
}
@media (max-width: 768px) {
  .header_text {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 38px;
  }
}
@media (max-width: 576px) {
  .header_text {
    font-size: 14px;
    line-height: normal;
  }
}
.main_block {
  padding: 156px;
}
@media (max-width: 992px) {
  .main_block {
    padding: 80px;
  }
}
@media (max-width: 768px) {
  .main_block {
    padding: 64px;
  }
}
@media (max-width: 576px) {
  .main_block {
    padding: 36px;
  }
}
/*features_sections style*/
.features_section {
  padding: 124px 0;
}
@media (max-width: 768px) {
  .features_section {
    padding: 62px 0;
  }
}
.features_block img {
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .features_block img {
    margin-bottom: 17px;
  }
}
.features_block .title {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .features_block .title {
    margin-bottom: 13px;
  }
}
.features_block .feature_text {
  text-align: center;
  font-family: 'Raleway';
  font-size: 14px;
  color: #6c7279;
  line-height: 21px;
}
@media (max-width: 768px) {
  .features_block .feature_text {
    margin-bottom: 36px;
  }
}
.fetures_first_row {
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  .fetures_first_row {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .fetures_mobile_last_text {
    margin-bottom: 0;
  }
}
/*works_section style*/
.one_work {
  border-right: 1px solid #ffffff;
  padding: 0;
}
@media (max-width: 768px) {
  .one_work {
    border-right: none;
  }
}
.one_work img {
  width: 100%;
  height: 100%;
}
.work_info {
  width: 100%;
  height: 100%;
  background-color: #ff3333;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  opacity: 0;
  font-family: 'Raleway';
}
.work_info .work_title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.work_info a {
  color: white;
}
.work_info:hover {
  opacity: 0.9;
  transition: 1s;
}
.works_first_row .one_work {
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 768px) {
  .works_second_row .one_work {
    border-bottom: 1px solid #ffffff;
  }
}
.without_rb {
  border-right: none;
}
/*team_section style*/
.team_section {
  padding: 101px;
}
@media (max-width: 768px) {
  .team_section {
    padding: 15px;
  }
}
.employee_block {
  font-family: 'Raleway';
}
.employee_block .photo {
  width: 100%;
  margin-bottom: 22px;
}
.employee_block .name {
  font-size: 22px;
  color: #2d3033;
  font-weight: 600;
  margin-bottom: 7px;
}
@media (max-width: 992px) {
  .employee_block .name {
    font-size: 18px;
  }
}
.employee_block .position {
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
}
@media (max-width: 992px) {
  .employee_block .position {
    font-size: 10px;
  }
}
.employee_block .description {
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .employee_block .description {
    margin-bottom: 16px;
  }
}
.employee_block .sn_wrapper {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
@media (max-width: 768px) {
  .employee_block .sn_wrapper {
    margin-bottom: 16px;
  }
}
.employee_block .social_networks a {
  text-decoration: none;
  color: #c6cacc;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #e8ecee;
}
.employee_block .social_networks a:hover {
  color: #e84545;
  border: 1px solid #e84545;
  transition: 1s;
}
/*clients_section style*/
.customised_indicators {
  max-width: max-content;
  margin: 0;
  left: 60%;
  bottom: 21%;
}
@media (max-width: 768px) {
  .customised_indicators {
    bottom: 15%;
  }
}
.customised_indicators .customised_indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
}
@media (max-width: 768px) {
  .customised_indicators .customised_indicator {
    width: 6px;
    height: 6px;
  }
}
.quote_block {
  background-color: #53354a;
  color: #ffffff;
  padding: 115px 359px 115px 90px;
}
@media (max-width: 1800px) {
  .quote_block {
    padding: 80px 292px 90px 70px;
  }
}
@media (max-width: 1600px) {
  .quote_block {
    padding: 65px 280px 80px 60px;
  }
}
@media (max-width: 1400px) {
  .quote_block {
    padding: 45px 281px 60px 40px;
  }
}
@media (max-width: 1200px) {
  .quote_block {
    padding: 35px 240px 30px 40px;
  }
}
@media (max-width: 992px) {
  .quote_block {
    padding: 22px 190px 10px 21px;
  }
}
@media (max-width: 768px) {
  .quote_block {
    padding: 18px 105px 10px 16px;
  }
}
@media (max-width: 576px) {
  .quote_block {
    padding: 12px;
  }
}
.quote_block .quote {
  font-family: 'Cardo';
  font-style: italic;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 28px;
}
@media (max-width: 1800px) {
  .quote_block .quote {
    font-size: 34px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}
@media (max-width: 1600px) {
  .quote_block .quote {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 18px;
  }
}
@media (max-width: 1400px) {
  .quote_block .quote {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 14px;
  }
}
@media (max-width: 1200px) {
  .quote_block .quote {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .quote_block .quote {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 8px;
  }
}
.quote_block .author {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .quote_block .author {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  .quote_block .author {
    font-size: 9px;
  }
}
@media (max-width: 992px) {
  .quote_block .author {
    font-size: 8px;
  }
}
.clients_section img {
  width: 100%;
  height: 100%;
}
/*download_setion style*/
.download_section {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .download_section {
    padding: 60px 0;
  }
}
.download_section_column {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway';
  color: #2d3033;
}
.download_section_column .dwnld_header_title {
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 17px;
}
@media (max-width: 768px) {
  .download_section_column .dwnld_header_title {
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
  }
}
.download_section_column .dwnld_header_description {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .download_section_column .dwnld_header_description {
    font-size: 9px;
    line-height: normal;
    font-weight: normal;
  }
}
.download_section_column .btn {
  padding-left: 85px;
  padding-right: 85px;
}
.download_section_column .btn:hover {
  border: 1px solid #e84545;
}
/*footer style*/
.info_block {
  padding-top: 70px;
  padding-bottom: 87px;
  text-align: center;
  font-family: 'Raleway';
  background-color: #3a3e64;
}
@media (max-width: 768px) {
  .info_block .footer_customised_column {
    margin-bottom: 20px;
  }
}
.info_block .title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.info_block .text_block {
  margin-bottom: 10px;
}
.info_block .description {
  font-size: 14px;
  color: #9d9fb2;
}
.info_block .sn_wrapper {
  width: 36px;
  height: 36px;
  margin-right: 7px;
}
.info_block .sn_wrapper a {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.info_block .sn_wrapper a:hover {
  color: #e84545;
  border: 2px solid #e84545;
  transition: 1s;
}
.info_block .sn_links :last-child {
  margin-right: 0;
}
.copyright_block {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #252d54;
  text-align: center;
  font-family: 'Raleway';
  font-size: 14px;
  color: #808080;
  line-height: 22.5px;
}
.copyright_block img {
  height: 14px;
}
.copyright_block .made_by {
  color: #ffffff;
}
